<form action="/insert" method="POST" id="myForm">
    <label for="flow_type">Flow Type:</label>
    <input type="text" id="flow_type" name="flow_type"><br><br>
    <label for="inventory_name">Inventory Name:</label>
    <input type="text" id="inventory_name" name="inventory_name"><br><br>
    <label for="source_or_destination">Source or Destination:</label>
    <input type="text" id="source_or_destination" name="source_or_destination"><br><br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date"><br><br>
    <label for="time">Time:</label>
    <input type="time" id="time" name="time"><br><br>
    <datalist id="itemNames">
        <option value="Item 1">
        <option value="Item 2">
        <option value="Item 3">
        <!-- Add more options here -->
    </datalist>
    

    <table id="inputSets">
        <tr>
        <th> id</th>
            <th>Item Name</th>
            <th>Quantity as Number</th>
            <th>Quantity as Weight</th>
            <th>Notes</th>
            <th></th>
        </tr>
        <tr class="inputSet">
            <td>1</td>
            <td><input type="text" class="item_name" name="item_name" list="itemNames"></td>
            <td><input type="number" class="quantity_as_number" name="quantity_as_number"></td>
            <td><input type="number" class="quantity_as_weight" name="quantity_as_weight"></td>
            <td><input type="text" class="notes" name="notes"></td>
            <td><button type="button" onclick="removeInputSet(this)">Remove</button></td>
        </tr>
    </table>
    

    <button type="button" onclick="addInputSet()">Add another set</button><br><br>

    <input type="submit" value="Submit">
</form>

<script>
    let inputSetCount = 1;
    function addInputSet() {
        inputSetCount++;
    let inputSets = document.getElementById('inputSets');
    let newRow = inputSets.insertRow(-1);
    newRow.className = 'inputSet';
    newRow.innerHTML = `
        <td>${inputSetCount}</td>
        <td><input type="text" class="item_name" name="item_name" list="itemNames"></td>
        <td><input type="number" class="quantity_as_number" name="quantity_as_number"></td>
        <td><input type="number" class="quantity_as_weight" name="quantity_as_weight"></td>
        <td><input type="text" class="notes" name="notes"></td>

        <td><button type="button" onclick="removeInputSet(this)">Remove</button></td>
        `;
}

function removeInputSet(button) {
    let row = button.parentNode.parentNode;
    row.parentNode.removeChild(row);
}

</script>
