<!-- Add this code to the head section of your HTML template -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        text-align: right;

    }

    header h1 {
        margin: 0;
    }
    main {
        padding: 30px;
        max-width: 800px;
        margin: 0 auto;
        align-items: center;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        text-align: right;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: right;
        
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
    input[type=text], input[type=number], input[type=datetime-local], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
    }
    input[type=text]:focus, input[type=number]:focus, input[type=datetime-local]:focus, select:focus {
        border: 2px solid #555;
    }
    .button {
        display: inline-block;
        padding: 6px 10px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
    }
    .flow-type-label {
  font-size: 20px;
}

.flow-type-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20 px;
}

.flow-type-options input[type="radio"] {
  margin-right: 5px;
  font-size: 20 px;

}

.flow-type-options label {
  display: inline-block;
}

    .button:hover {background-color:#3e8e41}
    .button-remove {
      background-color:#f44336
    }

    .button-remove:hover{
      background-color:#492e2c
    }
    .button-download {  
      background-color:#1adfbe
    }
    .button-download:hover{
      background-color:#e71405
    }
    footer {
    position: fixed;
    bottom: -10px;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: auto;
    

  }
     aside {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

</style>

<div class="topnav">
    <a href="http://127.0.0.1:5000/">Home</a>
    <a class="active" href="/insert">new</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
  
  <div style= "background-color:    #4CAF50; color: white; padding: 20px; text-align: center;">
    <h1 style="font-family: Arial;">اذن دخول وخروج</h1>
  </div>
  
<main>
<body onload="setCurrentDateTime()">
<form action="/insert" method="POST" id="myForm">
    <label class="flow-type-label" for="flow_type">Flow Type:</label><br>
    <div class="flow-type-options">
      <label for="input">Input <input type="radio" id="input" name="flow_type" value="input"></label><br>
      <label for="output">Output <input type="radio" id="output" name="flow_type" value="output"></label>
    </div><br><br>
            <label for="inventory_name">Inventory Name:</label>
    <input type="text" id="inventory_name" name="inventory_name"list="inventory_names"><br><br>
    <label for="source_or_destination">Source or Destination:</label>
    <input type="text" id="source_or_destination" name="source_or_destination"><br><br>
    <label for="BatchId">Batch ID:</label>
    <input type="number" id="BatchId" name="BatchId" placeholder="BatchId"><br><br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" class="date"><br><br>
    <label for="time">Time:</label>
    <input type="time" id="time" name="time"><br><br>
    <button type="button " class="button" onclick="refreshDateTime()">Refresh</button>

<datalist id="itemNames">
    {% for itemName in item_names %}
    <option value="{{ itemName }}">
    {% endfor %}
</datalist>
    <datalist id="inventory_names">
    {% for inventoryName in inventory_names %}
    <option value="{{ inventoryName }}">
    {% endfor %}
</datalist>
    

    <table id="inputSets">
        <tr>
            <th></th>
            <th>Notes</th>
            <th>Quantity as Number</th>
            <th>Quantity as Weight</th>
            <th>Item Name</th>
            <th > id</th>
        </tr>
        <tr class="inputSet">
            <td><button type="button" onclick="removeInputSet(this)">Remove</button></td>
            <td><input type="text" class="notes" name="notes"></td>

            <td><input type="number" class="quantity_as_number" name="quantity_as_number"></td>
            <td><input type="number" class="quantity_as_weight" name="quantity_as_weight"></td>
            <td ><input type="text" class="item_name" name="item_name" list="itemNames"  ></td>
            <td>1</td>
        </tr>
    </table>
    
            <button type="button" class="button" onclick="addInputSet()"><i class="fa fa-plus"></i> Add another set</button><br><br>
            <input type="submit" value="Submit" class="button">
        </form>


{% if inserted_data %}
<table>
    <tr>
        <th>ID</th>
        <th>Item Name</th>
        <th>Quantity as Number</th>
        <th>Quantity as Weight</th>
        <th>Date</th>
        <th>Time</th>
        <th>Inventory Name</th>
        <th>Flow Type</th>
        <th>Source or Destination</th>
        <th>Notes</th>
        <th>BatchId</th>
    </tr>
    {% for row in inserted_data %}
    <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
</body>
<a href="/download">
    <button type="button" class="button button-download"  >Download PDF</button>

  </a>
  
</main>
<footer>
    <p>Copyright &copy; Company Name</p>
 </footer>

<script>
    let inputSetCount = 1;
    function addInputSet() {
        inputSetCount++;
    let inputSets = document.getElementById('inputSets');
    let newRow = inputSets.insertRow(-1);
    newRow.className = 'inputSet';
    newRow.innerHTML = `
        <td><button type="button" class="button button-remove" 
    onclick="removeInputSet(this)"><i class="fa fa-minus"></i> Remove</button></td>
        <td><input type="text" class="notes" name="notes"></td>
        <td><input type="number" class="quantity_as_number" name="quantity_as_number"></td>
        <td><input type="number" class="quantity_as_weight" name="quantity_as_weight"></td>
        <td><input type="text" class="item_name" name="item_name" list="itemNames"></td>
        <td>${inputSetCount}</td>

        `;
            // Scroll to the bottom of the page
    window.scrollTo(0, document.body.scrollHeight);

}

function removeInputSet(button) {
    let row = button.parentNode.parentNode;
    row.parentNode.removeChild(row);
}

function setCurrentDateTime() {
            var now = new Date();
            var dateInput = document.getElementById("date");
            var timeInput = document.getElementById("time");
            dateInput.value = now.toISOString().substr(0, 10);
            timeInput.value = now.toTimeString().substr(0, 5);
        }
function refreshDateTime() {
    var now = new Date();
    var dateInput = document.getElementById("date");
    var timeInput = document.getElementById("time");
    dateInput.value = now.toISOString().substr(0, 10);
    timeInput.value = now.toTimeString().substr(0, 5);
}
</script>
<footer>
    <p>Copyright &copy; Company Name</p>
 </footer>